<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>공지사항</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<script>
    // 토근 header로 옮기는 스크립트
    var token = sessionStorage.getItem(("token"))
    fetch("/users/getUser",{
        method:'GET',
        headers:{
            AUTHORIZATION:'Bearer ' + token
        },
        redirect: "follow"
    }).then(res =>{
        console.log(res);
        return res.json()
    }).then(body => {
        console.log(body.username);
        console.log(body.auth);
        document.getElementById("username-p").innerText = body.username
    }).catch(err => {
        console.log(err);
    })
</script>
<!--기존 헤더-->
<!--
<header class="fixed inset-x-0 top-0 z-50 left-0 bg-black text-white body-font border-b border-gray-200">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <div class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <span class="ml-3 text-xl text-white">
          <a href="/" class="hover:underline">도서 통합 관리 시스템</a>
        </span>
    </div>
    <div class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <div class="mr-5">
        <a href="/notice/list" class="hover:underline">공지사항</a>
      </div>
      <div class="mr-5">
        <a href="/notice/list" class="hover:underline">마이페이지</a>
      </div>
      <div class="mr-5">
        <a href="/notice/list" class="hover:underline">Q&A</a>
      </div>
    </div>
  </div>
</header>
-->
<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-success d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <!-- <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">123 Street, New York</a></small> -->
                <!-- <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small> -->
            </div>
            <!--메인 네비바 넣을 것-->
            <div class="top-link pe-2">
                <a href="notice/list" class="text-white"><small class="text-white mx-2">공지사항</small>/</a>
                <p class="text-white" id="username-p"></p><br>
                <div th:if="${username == null}">
                    <a href="/users/login" class="text-white"><small class="text-white mx-2">로그인</small></a>
                </div>
                <div th:unless="${username == null}">
                    <a class="text-white"><small class="text-white mx-2">[[${username}]]님</small></a><br>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="/home" class="navbar-brand">
                <h1 class="text-primary display-20">Home</h1>
            </a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <!--TODO 링크수정!-->
                    <div class="nav-item dropdown">
                        <a href="/GET/question" class="nav-link py-2 px-3">Q&A</a>
                    </div>
                </div>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" style="margin: 0px; padding: 0px; float: right;"
                      role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                           aria-label="Search">
                </form>
            </div>
            <div class="d-flex m-3 me-0">
                <a href="mypage" class="my-auto">
                    <i class="fas fa-user fa-2x"></i>
                </a>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->

<main>
  <div id="main_container" class="container mx-auto p-8 pt-24">
    <h1 class="text-3xl font-bold mb-4">공지사항</h1>


    <form action="/notice/search" method="get" class="mb-4">

      <label for="search" class="block text-sm font-medium text-gray-600">제목으로 검색</label>

      <div class="flex items-center">

        <input type="text" id="search" name="keyword"
               class="mt-1 p-2 flex-1 block w-full border-2 border-gray-400 rounded-md">
        <button type="submit" class="ml-2 bg-blue-500 text-white px-4 py-2 rounded-md">검색</button>


        <!-- 게시글 추가 버튼 -->
        <button class="ml-7 bg-indigo-500 text-white px-4 py-2 rounded-md">
          <a href="/notice/add" class="hover:underline">
            게시글 추가
          </a>
        </button>
      </div>
    </form>

    <!-- 게시물 목록 시작 -->
    <div class="grid grid-cols-12 md:grid-cols-12 lg:grid-cols-12">
      <!-- 각각의 게시물 카드 시작 -->
      <div class="col-span-12 bg-white mb-2 p-4 rounded-md shadow-md cursor-pointer" th:each="notice: ${notices}">
        <a th:href="@{/notice/detail/{id}(id=${notice.id})}"
           class="text-xl font-semibold">[[${notice.title}]]</a>
        <p class="text-gray-600 mt-2 mb-2">글쓴이: <span class="font-bold">[[${notice.writer}]]</span></p>
          <p class="text-gray-600 mb-2">작성날짜: <span class="font-bold"><th:block th:text="${#strings.substring(notice.createdDate, 0, 16)}"/></span></p>
      </div>
    </div>
  </div>
</main>
<!--footer start-->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 bottom-0">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="">
                    <a href="#">
                        <h1 class="text-primary mb-0">Book management System</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">도서통합관리시스템</h4>
                    <p class="mb-4">멋쟁이사자처럼 백엔드스쿨 8기 1차 종합프로젝트 6팀 식스센스</p>
                    <a href="https://github.com/min2023237/team_6/tree/main" target="_blank"
                       class="btn border-secondary py-2 px-4 rounded-pill text-primary">Github</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Shop Info</h4>
                    <a class="btn-link" href="">About Us</a>
                    <a class="btn-link" href="">Contact Us</a>
                    <a class="btn-link" href="">Privacy Policy</a>
                    <a class="btn-link" href="">Terms & Condition</a>
                    <a class="btn-link" href="">Return Policy</a>
                    <a class="btn-link" href="">FAQs & Help</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Account</h4>
                    <a class="btn-link" href="">My Account</a>
                    <a class="btn-link" href="">Shop details</a>
                    <a class="btn-link" href="">Shopping Cart</a>
                    <a class="btn-link" href="">Wishlist</a>
                    <a class="btn-link" href="">Order History</a>
                    <a class="btn-link" href="">International Orders</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">메뉴</h4>
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer end-->
<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/lib/easing/easing.min.js"></script>
<script src="/static/lib/waypoints/waypoints.min.js"></script>
<script src="/static/lib/lightbox/js/lightbox.min.js"></script>
<script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/static/js/main.js"></script>
</body>
</html>
