<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>도서 통합 관리 시스템</title>
  <style>
    /* 미디어 쿼리: 화면 너비가 800px 미만일 때 */
    @media screen and (max-width: 800px) {
      #main_container {
        padding-top: 130px;
      }
    }
  </style>
</head>
<body>
  <header class="fixed inset-x-0 top-0 z-50 left-0 bg-black text-white body-font border-b border-gray-200">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div
        class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
      >
        <span class="ml-3 text-xl text-white">
          <a href="/" class="hover:underline">도서 통합 관리 시스템</a>
        </span>
      </div>
      <div class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <div class="mr-5">
          <a href="/notice/list" class="hover:underline">공지사항</a>
        </div>
        <div class="mr-5">
          <a href="/notice/list" class="hover:underline">마이페이지</a>
        </div>
        <div class="mr-5">
          <a href="/notice/list" class="hover:underline">Q&A</a>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div id="main_container" class="container mx-auto p-12 pt-24">
      <!-- 게시글 상세 화면 -->
      <div class="max-w-2xl mx-auto bg-white p-6 rounded-md shadow-md border-2 border-gray-400">
        <h1 class="text-2xl font-bold mb-4">[[${notice.title}]]</h1>
        <p class="text-gray-600 mb-2">글쓴이: <span class="font-bold">[[${notice.writer}]]</span></p>
<!--        <p class="text-gray-600 mb-2">작성날짜: <span class="font-bold">2024-03-26 11:00:00</span></p>-->
        <div class="border-t border-gray-300 mt-4 pt-4 min-h-40">
          <p class="text-gray-800">[[${notice.content}]]</p>
        </div>
        <!-- 수정 버튼 -->
        <button class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-md">
          <a th:href="@{/notice/update/{id}(id=${notice.id})}" class="hover:underline">
          게시글 수정
          </a>
        </button>

        <!-- 삭제 버튼 -->
<!--        <form th:action="@{/api/notice/{id}(id=${notice.id})}" th:method="delete">-->
<!--          <button class="mt-4 ml-2 bg-red-500 text-white px-4 py-2 rounded-md">게시글 삭제</button>-->
<!--        </form>-->
        <form th:action="@{/api/notice/{id}(id=${notice.id})}" th:method="delete">
          <button class="mt-4 ml-2 bg-red-500 text-white px-4 py-2 rounded-md" type="submit">게시글 삭제</button>
        </form>
      </div>
    </div>
  </main>

</body>
</html>
