<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>도서 통합 관리 시스템</title>
  <style>
    /* 미디어 쿼리: 화면 너비가 800px 미만일 때 */
    @media screen and (max-width: 800px) {
      #main_container {
        padding-top: 130px;
      }
    }
  </style>
</head>

<body>
  <header class="fixed inset-x-0 top-0 z-50 left-0 bg-black text-white body-font border-b border-gray-200">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div
        class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
      >
        <span class="ml-3 text-xl text-white">
          <a href="/" class="hover:underline">도서 통합 관리 시스템</a>
        </span>
      </div>
      <div class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <div class="mr-5">
          <a href="/notice/list" class="hover:underline">공지사항</a>
        </div>
        <div class="mr-5">
          <a href="/notice/list" class="hover:underline">마이페이지</a>
        </div>
        <div class="mr-5">
          <a href="/notice/list" class="hover:underline">Q&A</a>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div id="main_container" class="container mx-auto p-8 pt-24">
      <h1 class="text-3xl font-bold mb-8">공지사항 수정</h1>

      <!-- 게시물 작성 폼 시작 -->
      <form th:action="@{/notice/update/{id}(id=${notice.id})}" method="post" class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md border-2 border-black">
      
        <!-- 제목 입력란 -->
        <div class="mb-4">
          <label for="title" class="block text-gray-700 text-sm font-bold mb-2">제목</label>
          <input type="text" id="title" name="title" class="w-full px-3 py-2 border-2 border-gray-400 rounded-md focus:outline-none focus:border-blue-500" required th:value="${notice.title}">
        </div>

        <!-- 내용 입력란 -->
        <div class="mb-4">
          <label for="content" class="block text-gray-700 text-sm font-bold mb-2">내용</label>
          <textarea id="content" name="content" rows="8" class="w-full px-3 py-2 border-2 border-gray-400 rounded-md focus:outline-none focus:border-blue-500" required th:value="${notice.content}"></textarea>
        </div>

        <!-- 글쓴이 입력란 -->
        <div class="mb-4">
          <label for="writer" class="block text-gray-700 text-sm font-bold mb-2">글쓴이</label>
          <input type="text" id="writer" name="writer" class="w-full px-3 py-2 border-2 border-gray-400 rounded-md focus:outline-none focus:border-blue-500" readonly required th:value="${notice.writer}">
        </div>

        <!-- 작성 버튼 -->

        <div class="flex justify-end">
          <button type="submit" class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">수정</button>
        </div>
      </form>
      <!-- 게시물 작성 폼 종료 -->

    </div>
  </main>

</body>

</html>
