<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
</head>
<body>
<h1 th:text="${question.title}">게시글 제목</h1>
<p><strong>내용:</strong> <span th:text="${question.content}">게시글 내용</span></p>
<p><strong>작성자 ID:</strong> <span th:text="${question.authorId}">작성자 ID</span></p>
<p><strong>답변 상태:</strong> <span th:text="${question.answerStatus}">답변 상태</span></p>
<p><strong>작성 시간:</strong> <span th:text="${question.createdAt}">작성 시간</span></p>

<h2>답변 목록</h2>
<div th:each="answer : ${question.answer}">
    <p><strong>내용:</strong> <span th:text="${answer.content}">답변 내용</span></p>
    <p><strong>작성자 ID:</strong> <span th:text="${answer.authorId}">작성자 ID</span></p>
    <p><strong>작성 시간:</strong> <span th:text="${answer.createdAt}">작성 시간</span></p>
</div>

<form action="/POST/answer/new" method="POST">
    <div>
        <input type="hidden" name="questionId" th:value="${question.id}" />
    </div>
    <div>
        <label for="content">답변 내용:</label>
        <textarea id="content" name="content" required></textarea>
    </div>
    <div>
        <label for="authorId">작성자 ID:</label>
        <input type="text" id="authorId" name="authorId" required>
    </div>
    <div>
        <button type="submit">답변 등록</button>
    </div>
</form>
<a th:href="@{/GET/question/{id}/update(id=${question.id})}">질문 수정</a>
<form th:action="@{/POST/question/{id}/delete(id=${question.id})}" method="post">
    <input type="submit" value="질문 삭제">
</form>

<a href="/GET/question">목록으로 돌아가기</a>
</body>
</html>
