<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
<h1>게시글 목록</h1>
<table>
    <thead>
    <tr>
        <th>글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>답변상태</th>
        <th>작성날짜</th>
        <th>상세보기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questions}">
        <td th:text="${question.id}"></td>
        <td th:text="${question.title}"></td>
        <td th:text="${question.authorId}"></td>
        <td th:text="${question.answerStatus}"></td>
        <td th:text="${question.createdAt}"></td>
        <!--<td><a th:href="@{/posts/{id}(id=${post.id})}">보기</a></td>-->
    </tr>
    </tbody>
</table>
</body>
</html>
